body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend{
  color:red;
  background-color:white;
}
.legend i {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  margin-right: 8px;
  float: left;
}